#div1
{
    background-image: url(src\assets\bg2.png);
}

#container{
    width: 1200px;
    background-color: black;
    margin-top: 20px;
}

#divEsquerdo{
  align-content: center;
    border-radius: 15px;
    width: 450px;  
    opacity: 0.95;
    -moz-opacity:0.95;
    -webkit-opacity:0.95;
}

#divForm
{
    align-content: center;
    background-color: white ;
    border-radius: 15px;
    width: 450px;  
    height: 295px;     
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 25px;
    
}

#divFormPlayer
{
    align-content: center;
    background-color: white ;
    border-radius: 15px;
    width: 600px;  
    height: 605px; 
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 60px;
    opacity: 0.92;
    -moz-opacity:0.92;
    -webkit-opacity:0.92;
    
}

#divPlacar
{
    align-content: center;
    background-color: white ;
    font-family: 'Segoe UI';
    border-radius: 15px;
    width: 450px;  
    height: 250px;
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    font-size: x-large; 
}

#container > div{
    float: left;
}

#divPlayers
{
    background-color:red ;
}

#center
{ 
  margin-top: 10px;
    text-align: center;
}
#resultado
{ 
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

#nome
{ 
    text-align: center;
    font-size: large;
    background-color:blue;
    color: white;
}

#resultadocada
{ 
    align-items: center;
    align-self: center;
    align-content: center;
    color: green;
    font-size: medium;
    font-family: 'Segoe UI';
    font-weight: 500;
    
}
#button{
  margin: -5px 4px;
}

#navbar{
  display: flex !important;
  justify-content: center !important;
}

